@(pagetitle: String)(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@pagetitle</title>
    <meta name="description" content="@message("site.description")">
    <meta name="author" content="@message("author.name")">
    <!-- TODO description author -->
    
    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Le styles -->
    <link rel="stylesheet" media="screen" href="@path("stylesheets/bootstrap.3.3.6.min.css")">
    <link rel="stylesheet" media="screen" href="@path("stylesheets/bootflat-2.0.4.min.css")">
    <link rel="stylesheet" media="all" type="text/css" href="@path("stylesheets/style.css")">
    <link rel="stylesheet" media="all" type="text/css" href="@path("stylesheets/prettify.css")">
    <link rel="stylesheet" media="all" type="text/css" href="@path("stylesheets/desert.css")">
    <link rel="shortcut icon" type="image/png" href="@path("images/favicon.png")">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  
    <link href="atom.xml" type="application/atom+xml" rel="alternate" title="bootlog ATOM Feed">
    <link href="rss.xml" type="application/rss+xml" rel="alternate" title="bootlog RSS Feed">
  </head>
  <body>
    @navbar()
    
    <div class="container">
      <div class="content">
        @content
      </div>
      <hr>
      <footer>
        <p>&copy; 2014 - 2015 @message("author.name")
          with help from <a href="https://github.com/jasonqu/bootlog" target="_blank">bootlog</a> and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>
    </div>
    
    <!-- {% include JB/analytics %} -->
    <!-- todo google prettify refactor -->
    
    <!-- 
    <script src="@path("javascripts/prettify.js")" type="text/javascript"></script>
     -->
    <script src="@path("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
    <script src="@path("javascripts/bootstrap-3.3.6.min.js")" type="text/javascript"></script>
    <script src="@path("javascripts/run_prettify.js?lang=scala&skin=desert")" type="text/javascript"></script>
    <script src="@path("javascripts/lang-scala.js")" type="text/javascript"></script>
  </body>
</html>
