@(pagetitle: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="@message("site.description")">
  <meta name="author" content="@message("author.name")">
  <!-- TODO description author -->

  <title>@pagetitle</title>

  <link rel="stylesheet" href="@path("css/bootstrap.min.css")">
  <link rel="stylesheet" href="@path("css/bootflat.min.css")">
  <link rel="stylesheet" href="@path("css/octicons.css")">
  <link rel="stylesheet" href="@path("css/app.css")">

  <link rel="shortcut icon" href="@path("img/favicon.png")">

  <!-- Le styles for highlight code -->
  <link rel="stylesheet" href="@path("css/prettify.css")">
  <link rel="stylesheet" href="@path("css/desert.css")">

  <link href="atom.xml" type="application/atom+xml" rel="alternate" title="bootlog ATOM Feed">
  <link href="rss.xml" type="application/rss+xml" rel="alternate" title="bootlog RSS Feed">

</head>
<body>
<div id="wrap">
  <!--{{> header}}-->
  @navbar()

  <div class="container-fluid container-abitabove">
    <div class="row">
      <div class="col-lg-12 centered text-center container-withcover no-cover" style="background-image: url('img/img.jpg');">
        <!--{{#if blog.logo}}<img src="{{blog.logo}}" alt="{{blog.title}} Logo" class="blog-logo"><br>{{/if}}-->
        @message("site.tagline")
      </div>
    </div>
  </div>
  <!--{{> head-image}}-->

  <div class="container">
    <div class="row">
      <div class="col-lg-12 centered">
        @content
      </div>
    </div>
  </div>
</div>

<div id="footer">
  @footer()
</div>

<!-- {% include JB/analytics %} -->
<!-- todo google prettify refactor -->
<script src="@path("js/jquery-1.10.1.min.js")"></script>
<script src="@path("js/prettify.js")"></script>
<script src="@path("js/run_prettify.js?lang=scala&skin=desert")"></script>
<script src="@path("js/lang-scala.js")"></script>

<script src="@path("js/icheck.min.js")"></script>
<script src="@path("js/jquery.fs.selecter.min.js")"></script>
<script src="@path("js/jquery.fs.stepper.min.js")"></script>
<script src="@path("js/bootstrap.min.js")"></script>
<script src="@path("js/ghost-blog.js")"></script>
</body>
</html>
