<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-narrow">
      <a class="brand" href="/">@message("site.title")</a>
      <ul class="nav">
        <li><a href="@path("archive.html")">Archive</a></li>
        <li><a href="@path("categories.html")">Categories</a></li>
        <li><a href="@path("pages.html")">Pages</a></li>
        <li><a href="@path("tags.html")">Tags</a></li>
        <!-- TODO navbar //(pages : Seq[(String, String)])
          @{
            //pages.map{<li><a href="@_._1">@_._2</a></li>}
          }-->
      </ul>
    </div>
  </div>
</div>