<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand pull-left" href=@message("production_url")>
        <!--{{#if blog.logo}}<img src="{{blog.logo}}" class="navbar-logo" alt="logo" />{{/if}}-->
        @message("site.title")
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        @for(p <- ("archive.html", "Archive") :: ("categories.html", "Categories")
          :: ("pages.html", "Pages") :: ("tags.html", "Tags") :: Nil) {
          <li><a href="@path(p._1)">@p._2</a></li>
        }
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="@message("production_url")/rss"><span class="octicon octicon-rss"></span> RSS</a></li>
      </ul>
    </div>
  </div>
</div>