@(postGroup:List[(String, Array[(Post, Int)])])(tag: String, currentPage: Int, totalPages: Int)

@main("Archive")(None, tag) {
<main>
	<div class="timeline">
		<dl>
			@for((date, posts) <- postGroup) {
			<dt>@date</dt>
			@for((post, index) <- posts) {
			@defining(index % 2 == 1) { odd =>
			<dd class="@if(odd){pos-left}else{pos-right} clearfix">
				<div class="circ @if(odd){circ-odd}else{}">
				</div>
				<div class="time">@displayDate("MMM dd", post.date)</div>
                    <!--<span data-toggle="tooltip" data-original-title="{{date format='YYYY-MM-DD'}} at {{date format='HH:mm'}}" title="">-->
						<!--@post.getDate-->
                        <!-- todo {{date timeago=true}} in javascript and the width -->
                    <!--</span>-->
				<div class="events">
					<!--<div class="pull-left">-->
						<!--<img class="events-object img-rounded" src="img/photo-1.jpg">-->
					<!--</div>-->
					<div class="events-body">
						<h3 class="events-heading">
							<a href="@path("posts/" + post.name)">@post.title</a>
						</h3>
						<h4 class="events-heading">
							@for((tagname, tagIndex) <- post.tags.zipWithIndex) {
							<a href="@path("tag/" + tagname + ".html")">
								<span class="label tag-@tagname @if(tagIndex % 2 == 1){label-primary}else{label-default}">
									<i class="glyphicon glyphicon-tag"></i> @tagname </span></a>
							&nbsp;
							}
						</h4>
						<p>@post.excerpt &hellip;</p>
					</div>
				</div>
			</dd>
			}
			}
			}
		</dl>
	</div>
	@pagination(currentPage, totalPages)
</main>
}
