@(cats : List[(String, Int)])

@main("Category")(None, "Category") {

<main>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        @for((cat, count) <- cats) {
        <a href="@path(cat + ".html")"><span class="badge badge-primary">
    <span class="badge badge-warning">@count</span>
    @cat</span></a>
        }

        <li class="list-group-item"><span class="badge">14</span>Cras justo odio</li>
        <li class="list-group-item"><span class="badge badge-default">91</span>Dapibus ac facilisis in</li>
        <li class="list-group-item"><span class="badge badge-primary">38</span>Morbi leo risus</li>
        <li class="list-group-item"><span class="badge badge-success">56</span>Porta ac consectetur ac</li>
        <li class="list-group-item"><span class="badge badge-warning">20</span>Vestibulum at eros</li>
        <li class="list-group-item"><span class="badge badge-danger">99+</span>Dapibus ac facilisis in</li>
      </ul>
    </div>
  </div>
</main>
}
