<div class="container-fluid container-abitabove">
  <div class="row">
    <!--todo blog.cover-->
    @defining(message("index_cover")) { isCovered =>
    @if(isCovered.isEmpty) {
      <div class="col-lg-12 centered text-center container-withcover no-cover">
    } else {
      <div class="col-lg-12 centered text-center container-withcover" style="background-image: url(@path(message("index_cover")));">
    }}
    <!--<div class="col-lg-12 centered text-center container-withcover no-cover">-->
      <!--<div class="col-lg-12 centered text-center container-withcover" style="background-image: url(@path("images/cover.jpg"));">-->
      <!--todo blog.logo-->
      @defining(message("site_image")) { hasLogo =>
      @if(hasLogo.isEmpty) {
      } else {
        <img src="@path(message("site_image"))" alt="@message("site.title") Logo" class="blog-logo"><br>
      }}
      @message("site.title")
      <!--todo tag ? <h1>{{tag.name}}</h1>-->
    </div>
  </div>
</div>