<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand pull-left" href={{@blog.url}}>{{#if @blog.logo}}<img src="{{@blog.logo}}" class="navbar-logo" alt="logo" />{{/if}} {{@blog.title}}</a>-->
      <!--todo blog-url blog-logo-->
      <a class="navbar-brand glyphicon glyphicon-home" href="/">@message("site.title")</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        @for(p <- ("archive.html", "Archive") :: ("categories.html", "Categories") :: ("pages.html", "Pages") :: ("tags.html", "Tags") :: Nil) {
        <li><a href="@path(p._1)">@p._2</a></li>
        }
        <!--todo refine-->
        <!--<li class="nav-{{slug}}{{#if current}} active{{/if}}">-->
          <!--<a href="{{url absolute="true"}}">-->
          <!--{{label}}-->
          <!--</a>-->
        <!--</li>-->
      </ul>
      <!--todo rss-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="{{@blog.url}}/rss/"><span class="octicon octicon-rss"></span> RSS</a></li>-->
        <!--<li><a href="{{@blog.url}}/ghost/"><span class="octicon octicon-pencil"></span></a></li>-->
      <!--</ul>-->
    </div>
  </div>
</div>



<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand glyphicon glyphicon-home" href="/">@message("site.title")</a>
    </div>
    <div id="navbar-top" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        @for(p <- ("archive.html", "Archive") :: ("categories.html", "Categories")
        :: ("pages.html", "Pages") :: ("tags.html", "Tags") :: Nil) {
        <li><a href="@path(p._1)">@p._2</a></li>
        }
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>