<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      @defining(message("site_image")) { hasLogo =>
      @if(hasLogo.isEmpty) {
      <a class="navbar-brand glyphicon glyphicon-home" href="/"></a>
      } else {
      <a class="navbar-brand pull-left" href="/"><img src="@path(message("site_image"))" class="navbar-logo" alt="logo"/>&nbsp;@message("site.title")</a>
      }}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        @for(p <- extraNavBar) {
        <li><a href="@p._1">@p._2</a></li>
        }
        <!--todo refine nav-{{slug}} and current active-->
      </ul>
      <!--todo rss blog.url-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="@path("rss.xml")"><span class="octicon octicon-rss"></span> RSS</a></li>
      </ul>
    </div>
  </div>
</div>