@(tags : List[(String, Int)])

@main("Tags")(None, "Tags") {

<style type="text/css">
    .tags {
    min-height:300px;
    margin: 20px auto;
    }

    /* Css3 tags */
    .tags a {
    display: inline-block;
    height:24px;
    line-height:23px;
    position:relative;
    margin: 0 12px 8px 0;
    padding: 0 12px 0 10px;
    background: #777;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size:12px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: bold;
    }

    .tags a:before {
    content: "";
    position: absolute;
    top: 10px;
    right: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    }

    .tags a:after {
    content: "";
    position: absolute;
    top:0;
    right: -12px;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #777;
    border-style: solid;
    border-width: 12px 0 12px 12px;
    }

    .tags a.color1 {background: #f58220;}
    .tags a.color1:after {border-color: transparent transparent transparent #f58220}
    .tags a.color2 {background: #97c224;}
    .tags a.color2:after {border-color: transparent transparent transparent #97c224}
    .tags a.color3 {background: #de3f3e;}
    .tags a.color3:after {border-color: transparent transparent transparent #de3f3e}
    .tags a.color4 {background: #ec008c;}
    .tags a.color4:after {border-color: transparent transparent transparent #ec008c}
    .tags a.color5 {background: #00a6df;}
    .tags a.color5:after {border-color: transparent transparent transparent #00a6df}
    .tags a:hover {background:#222 !important}
    .tags a:hover:after {border-color:transparent transparent transparent #222!important}

</style>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="tags">
        <p>
            @for((tagname, count) <- tags) {
            <a href='@path("tag/" + tagname + ".html")' class="color@(count % 5 + 1)">@tagname <span class="badge badge-warning">@count</span></a>
            }
        </p>
    </div>
    </div>
</div>

}
